@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: .5s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1400px;
  width: 92%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper {
  width: 91.85%;
  padding: 31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.ham { display: none; }
nav { flex-basis: 37%; }
nav ul {  display: flex; }
nav li { margin-right: auto; }

nav li a {
  padding: 13px 10px;
  color: #535353;
  font-size: 19px;
  -webkit-transition: .5s background-color ease, .5s color ease;
  -moz-transition: .5s background-color ease, .5s color ease;
  transition: .5s background-color ease, .5s color ease;
}

nav li a:hover,
nav .active {
  background-color: #1BBC9B;
  color: #fff;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* portfolio styles starts here */
.portfolio { padding: 70px 0 20px; }

h2 {
  margin-bottom: 12px;
  color: #434343;
  font-size: 38px;
  text-align: center;
}  

.lead {
  display: block;
  color: #535353;
  font-size: 20px;
  text-align: center;
}

.links {
  margin: 47px 0 60px;
  display: flex;
  justify-content: center;
}

.links li { margin-right: 1.2%; }
.links li:last-child { margin-right: 0;}

.links a {
  padding: 15px 18px;
  background-color: #1ABC9A;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: .5s background-color ease;
  -moz-transition: .5s background-color ease;
  transition: .5s background-color ease;
}

.links a:hover,
.links .active {  background-color: #16A086; }

.features {
  display: flex;
  flex-wrap: wrap;
}

.features li { flex-basis: 25%; }

.features li figure {
  width: 75%;
  margin: 0 auto;
} 

h3 { 
  margin: 90px 0 10px;
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.features .overlay span {
  display: block;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.features .overlay {
  width: 75%;
  border-radius: 50%;
  margin: 0 auto; 
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(80, 180, 146, 0.5);
}

.features li { 
  margin-bottom: 45px;
  position: relative;
  cursor: pointer;
}

.inner-over { 
  padding: 10px 0;
  position: relative;
}

.features li:hover .overlay { display: block; }
.search {  text-indent: -99999px; }

.search::after {
  content: "\f002";
  padding: 20px;
  border-radius: 50%;
  float: right;
  position: absolute;
  top: 40px;
  left: 35%;
  background: #434343;
  color: #fff;
  font-family: fontAwesome;
  font-size: 22px;
  text-indent: 0;
  -webkit-transition: .5s background-color ease;
  -moz-transition: .5s background-color ease;
  transition: .5s background-color ease;
}

.search:hover::after { background-color: #1BBC9B; }
/* portfolio styles ends here */
/* about-us styles starts here */
.about-us .wrapper {  width: 76.83%; }

.about-us { 
  padding-bottom: 98px;
  background-color: #16A086; 
}

.about-us h2 {
  padding-top: 68px;
  color: #fff;
}  

.about-us .lead { color: #f5faf9; }

.about-us ul {  
  margin-top: 56px;
  display: flex; 
}

.about-us ul li {
  margin-right: auto;
  flex-basis: 28%;
  position: relative;
}

.about-us ul li:last-child { margin-right: 0; }
.list-content {  background-color: #fff; }

h4 { 
  padding-top: 25px;
  color: #434343;
  font-size: 24px;
  text-align: center;
}

.tag {
  margin-bottom: 22px;
  display: block;
  color: #535353;
  font-size: 17px;
  font-style: italic;
  text-align: center;
}

.list-content p {
  width: 90%;
  padding-bottom: 20px;
  margin: 0 auto;
  color: #535353;
  font-size: 18px;
  line-height: 26px;
}

.about-us .overlay {
  width: 80%;
  margin: 0 auto;
  display: none;
  position: absolute;
  top: 125px;
  left: 10%;
  opacity: 0.9;
}

.about-us li:hover .overlay {
  display: block;
  cursor: pointer;
}
/* about-us styles ends here */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 50px 0 45px;
  background: #324051;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer span {
  color: #e4e6e7;
  font-weight: bold;
  font-size: 18px;
}

footer a{  text-indent: -9999px; }

footer a::after {
  content: "\f106";
  padding: 10px 16px;
  float: right;
  position: fixed;
  bottom: 4%;
  right: 5%;
  background-color: #1BBC9B;
  color: #fff;
  font-family: fontAwesome;
  font-size: 40px;
  font-weight: bold;
  text-indent: 0;
  -webkit-transition: .5s background-color ease;
  -moz-transition: .5s background-color ease;
  transition: .5s background-color ease;
}

footer a:hover::after { background-color: #434343; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* header styles starts */
  header .wrapper { width: 95.85%; } 

  .ham {
    width: 35px;
    height: 100%;
    float: right;
    position: relative;
    display: block;
  }
  
   .ham span {
    width: 35px;
    height: 4px;
    margin: 5px 0;
    display: block;
    background: #000;
    text-indent: -99999px;
    transition:  0.5s ease;
   }
   
   nav:hover ul{
    width: 100%;
    display: block;
    float: none;
    position: absolute; 
    top: 75px;
    right: 0;
    left: 0;
    background-color: #1BBC9B;
    text-align: center;
   }
  
  nav { flex-basis: 0; }
  nav ul { display: none }
  nav li { display: block; }

  nav .active,
  nav li a {
    color: #535353;
    font-size: 20px;
  }
  
  nav li a:hover{ 
    background-color:#1BBC9B;
    color: #535353;
  }
  /* header styles ends */
  /* banner styles starts here */
  .links a:hover,
  .links .active { background-color: #1ABC9A; }
  .portfolio li:hover .overlay { display: none; }
  .features li { flex-basis: 48%; }
  /* banner styles ends here */
  /* about-us styles starts here */
.about-us ul {
  flex-wrap: wrap;
}

  .about-us ul li {
    flex-basis: 33%;
    position: relative;
    flex-wrap: wrap;
  }
  
  h4 { padding-top: 15px; }
  .tag {  margin-bottom: 16px; }
  
  .list-content p {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 15px;
  }
  
  .about-us li:hover .overlay { display: none; }
  /* about-us styles ends here */
  /* footer styles starts here */
  footer a:hover::after { background-color: #1BBC9B; }
  /* footer styles ends here */
}  
/*media query for 995px ends here*/
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  /* header styles starts */
  header .wrapper { width: 98.85%; } 
  nav li { 
  display: block;
  margin-bottom: 20px;
}
  /* header styles ends */
  /* banner styles starts here */
  .links {
    margin: 27px 0 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .links li { 
    flex-basis: 46%; 
    margin-bottom: 5%; 
  }

  .links a { font-size: 12px; }
  .features li { flex-basis: 98%; }
  /* banner styles ends here */
  /* about-us styles starts here */
   .about-us ul li { 
    margin-bottom: 10%; 
    flex-basis: 90%; 
  }

  .list-content p { text-align: center; }
   /* about-us styles ends here */
   /* footer styles starts here */
  footer span { text-align: center; }

  footer a::after {
    bottom: 5%;
    right: 1%;
  }
  
   /* footer styles ends here */
}  
/*media query for 768px ends here*/
